<form class="login-form" method="POST" action="/hrLogin">
    <table>
        <tr>
        <td>Email: </td>
        <td><input type="text" name="mail" class="mail"></td>
        </tr>
        
        <tr>
        <td>Password : </td>
        <td><input type="text" name="password" class="password" ></td>
        </tr>
        
        <td colspan="2"><input type="submit" value="Login" ></td>
        </tr>
    </table>
</form>   

<hr>
<p>new user then <a href="/hrRegistration">Register</a> first</p>

<a href="/">Home</a>